alacritty/current.toml
nnn/.selection
nvim/lazy-lock.json
easyeffects/config/glib-2.0/
waybar/style.css
waybar/themes/current.json
wofi/style.css
hypr/themes/current.conf
tmux/plugins/
tmux/themes/current.conf
wezterm/style.lua
niri/config.kdl
