misc/nnn/.selection
misc/nvim/lazy-lock.json
misc/easyeffects/config/glib-2.0/
misc/waybar/style.css
misc/waybar/themes/current.json
misc/tmux/plugins/
misc/tmux/themes/current.conf

launchers/wofi/style.css

terminals/wezterm/style.lua
terminals/alacritty/current.toml

wms/niri/config.kdl
wms/hypr/current.conf
wms/hypr/monitor.conf

