@define-color bg #192330;
@define-color highlight #cdcecf;
@define-color font @bg;
@define-color blue #719cd6;
@define-color red #c94f6d;
@define-color yellow #dbc074;
@define-color black  #393b44;
@define-color cyan  #63cdcf;
@define-color green  #81b29a;
@define-color purple  #9d79d6;
@define-color white  #dfdfe0;

window {
	background-color: transparent;
    font-family:   "Hack Nerd Font";
}

#entry:selected {
	background-color: @yellow;
	outline: none;
	border-radius: 0;
}

#entry,
#text {
	padding: 3px 9px;
	transition: background-color 250ms
}

#text:selected {
	color: @bg;
}

#scroll,
#input{
	border: 1px solid @highlight;
	background-color: @bg;
	border-radius: 0;
}

#scroll {
	/* padding: 15px; */
}


#scroll {
	margin-top: 5px;
}
