@define-color blue #4a57ba;
@define-color brown #92663E;
@define-color purple #5f388b;
@define-color green #486a47;
@define-color bronze #ad7e48;
@define-color red #a5494f;


* {
    border:        none;
    border-radius: 0;
    font-family:   "Fira Code Mono Nerd Font";
    font-size:     16px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window#waybar {
    color: #f2f4f8;
    /* background-color: #161616; */
    /* border-radius: 5px; */
    /* border: 1px solid #535353; */
    background-color: transparent;
}

#workspaces,
#mpris,
#window,
#tray,
#temps,
#wireplumber,
#network,
#bluetooth,
#custom-get_temps,
#clock{
    margin: 0 5px;
    background-color: red;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 0 15px;
}

#workspaces {
    background-color: @red;
    border-bottom-left-radius: 0px;
    margin-left: 0;
}

#mpris {
    background-color: @bronze;
}

#window {
    background-color: @green;
}

#tray {
    background-color: @brown;
}

#custom-get_temps {
    background-color: @red;
}

#wireplumber {
    background-color: @bronze;
}

#network {
    background-color: @blue;
}

#network{
    color: #000;
}

#bluetooth {
    background-color: @purple;
}

#clock {
    background-color: @green;
    border-bottom-right-radius: 0px;
    margin-right: 0;
}

#network,
#bluetooth {
    padding-right: 18px;
}
#workspaces button {
    color: #fff;
    opacity: .5;
    transition: all 250ms;

}
#workspaces button.active {
    opacity: 1;
    background-color: @brown;
}
