# Default colors
[colors.primary]
background = '{{.bg}}'
foreground = '{{.fg}}'

# Normal colors
[colors.normal]
black   = '{{.black}}'
red     = '{{.red}}'
green   = '{{.green}}'
yellow  = '{{.yellow}}'
blue    = '{{.blue}}'
magenta = '{{.magenta}}'
cyan    = '{{.cyan}}'
white   = '{{.white}}'

# Bright colors (same as normal colors)
[colors.bright]
black   = '{{.black}}'
red     = '{{.red}}'
green   = '{{.green}}'
yellow  = '{{.yellow}}'
blue    = '{{.blue}}'
magenta = '{{.magenta}}'
cyan    = '{{.cyan}}'
white   = '{{.white}}'
