@define-color border #486a47;
@define-color background #161616;
@define-color foreground #f2f4f8;
@define-color selection_background #2a2a2a;
@define-color selection_foreground #f2f4f8;
    /* col.active_border = rgba(33ccffee) rgba(00ff99ee) 45deg */
    /* col.inactive_border = rgba(555555FF) */


window {
	background-color: transparent;
}

#entry:selected {
	background-color: @border;
	outline: none;
	border-radius: 0;
}

#entry,
#text {
	padding: 3px 9px;
	transition: all 250ms
}

#text:selected {
	color: #fff;

}

#scroll,
#input{
	border: 3px solid @border;
	background-color: @background;
	border-radius: 5px;
}


#scroll {
	margin-top: 5px;
}
